<div class="container mx-auto p-6">
    <div class="mb-6">
        <h1 class="text-4xl font-bold mb-2">Spend Forecast "<%= @spend_forecast.name %>" </h1>
        <p class="text-lg text-gray-500">From <%= @spend_forecast.start_date %> to <%= @spend_forecast.end_date %></p>
    </div>
    <% if @spend_forecast.budget %>
        <div class="overflow-x-auto">
            <table class="min-w-full bg-white shadow-md rounded-lg overflow-hidden">
                <thead>
                    <tr class="bg-gray-800 text-white">
                    <% @spend_forecast.budget.first.each do |header| %>
                        <th class="py-2 px-4 text-left"><%= header.capitalize %></th>
                    <% end %>
                    </tr>
                </thead>
                <tbody>
                    <% @spend_forecast.budget.drop(1).each do |entry| %>
                    <tr class="border-b border-gray-200">
                        <% entry.each do |value| %>
                        <td class="py-2 px-4"><%= value %></td>
                        <% end %>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    <% end %>
    <div class="flex items-center justify-end mt-4">
        <% if @spend_forecast.budget.present? %>
            <%= link_to 'Download Budget CSV', download_budget_csv_spend_forecast_path(@spend_forecast, format: :csv), class: "bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
        <% end %>
        <% if @spend_forecast.draft? %>
            <%= link_to 'Edit', edit_spend_forecast_path(@spend_forecast), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline ml-4" %>
        <% end %>
    </div>
</div>
